body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
  width: 80vw;
  justify-content: center;
}

.weather-card {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 1.5rem auto;
  background-color: antiquewhite;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Georgia", serif;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .weather-card {
    width: 75vw;
  }

  .top {
    flex-direction: column;
  }

  .input-container {
    display: flex;
    flex-direction: column;

    input {
      margin: 0.5rem auto;
      width: 80vw;
    }
    button {
      width: 50vw;
      margin: 0.8rem auto;
    }
  }
}

.weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  button {
    padding: 5px 10px; /* Adjusts the size of the button */
    font-family: "Arial", sans-serif; /* Sets the font */
    font-size: 16px; /* Sets the font size */
    color: #000; /* Text color */
    background-color: antiquewhite; /* Button color */
    border: none; /* Removes the default border */
    border-radius: 5px; /* Rounds the corners */
    cursor: pointer; /* Changes the cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }

  button:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }

  label {
    font-family: "Georgia", serif;
  }
}

h1 {
  font-family: "Georgia", serif;
  font-size: 40px;
}
